
<form method="POST" action="">
    Insert new role: <input type="text" name="new_role" />
    <input type="submit">
</form>



<form method="POST" action="">
    Insert new user with associated role: <input type="text" name="new_user"/>
    <label for="cars">Choose a role:</label>

    <select name="all_roles" id="all_roles">
      {% for role in userDetails %}
        <option value='{{role[0]}}'>{{role[1]}}</option>
      {% endfor %}

    </select>

    <input type="submit">
</form>

<button type="button" onclick="window.location.href='{{ url_for( 'users') }}';">Show users and their roles</button>
